<!DOCTYPE html>
<html>

<head>
  <%- include('head') %>
</head>

<body>
  <%- include('nav') %>
  <main>
    <header>
      Bookmarks
    </header>
    <section>
      <p>A place to keep all your links, organise and share them.</p>
      <p>To view all the current labels select Labels from the nav bar.</p>
      <p>To view all links along with their tags, select Links from the nav bar.</p>
    </section>
  </main>
</body>

</html>