<!DOCTYPE html>
<html>
  <head>
    <%- include('head') %>
  </head>

  <body>
    <%- include('nav') %>
    <main>
      <header>Links</header>
      <form action="/links/submit" method="post">
        <label for="link">Link:</label>
        <input
          type="text"
          id="link"
          name="link"
          placeholder="Enter your link here"
          required
        />
        <!-- Something for a future version
          <label for="label">Label:</label>
        <input type="text" id="label" name="label" placeholder="Optional" />-->
        <button type="submit">Add</button>
      </form>
      <% if (isEmpty) { %>
      <section>You have no links, why not add some above?</section>
      <% } else { %>
      <section>
        <% Object.entries(grouped).map(([key,values]) => { %>
        <header><%= key %></header>
        <section>
          <ul>
            <% values.map(value => { %>
            <li><%= value %></li>
            <% }) %>
          </ul>
        </section>
        <% }) %>
      </section>
      <% } %>
    </main>
  </body>
</html>
